@{
    ViewBag.Title = "404 Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-color: white">
    <div class="container">
        <h1>404 Page Not Found</h1>
        <div class="col-xs-12 col-md-9">
            <div>
                <h3 style="line-height: 1.5em;">Unfortunately, the page you've requested cannot be displayed. It appears that you've lost your way either through an outdated link or a typo on the page you were trying to reach.</h3>
                <p>Please feel free to return to the <a style="color: #00e105;" href="/">homepage</a> or use the search box in the upper area of the page to find the game you are looking for. We are very sorry for any inconvenience.</p>
                <p><strong>WHAT ELSE CAN YOU DO?</strong> <br /> Report this error by contacting Customer Service team. We'll be very grateful.</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 hidden-xs hidden-sm"><img alt="“404_Image”" src="~/Content/img/not-found.png" /></div>
    </div>
</body>