@import url("style.css");
@import url("media.css");

/*@font-face {
	font-family: Play;
	src: url(fonts/Play-Regular.ttf);
}*/

@import url('https://fonts.googleapis.com/css?family=Play');

* {
	margin: 0;
	padding: 0;
}


html, body {
	height: 100%;
}

body {
	max-width: 2560px;
	width: 100%;
	background-color: #F3F3F3;
	font-family: 'Play', Arial, sans-serif;
	margin: 0 auto;
}

header {
	background-color: #fff;
}

main {
	padding: 0;
}

section {
	background-color: #fff;
	padding-bottom: 50px;
}

.container {
	background-color: transparent;
}

.transition {
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

form {
	padding: 0px;
	margin: 0px;
}

.clr {
	clear: both;
	visibility: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

.padding0 {
	padding: 0;
}

.padding5 {
	padding: 5px;
}

.padding10 {
	padding: 10px;
}

.padding15 {
	padding: 15px;
}

.padding20 {
	padding: 20px;
}

.padding30 {
	padding: 30px;
}

.nowrap {
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;
}

.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
	/*font-family: Play-Bold;*/
}

a {
  color: #01B1C6;
	text-decoration: underline;
}

footer {
	/*margin-top: 50px;*/
}

