@model GameStore.Domain.Entities.Cart

@{
    ViewBag.Title = "Your Cart - Order";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<div class="container">
    <h2>Your cart</h2>
    @Html.Partial("Table", Model)
    <input type="hidden" id="hiddenGameId" />
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Game</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure ? You want to delete this. </h4>

                <div style="text-align:center;display:none" id="loaderDiv">
                    <img src="~/Content/img/loading.gif" width="150" />
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="Delete()">Confirm</a>
            </div>
        </div>
    </div>
</div>