
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-block">
        <div>
            <h1>About Us</h1>
            <p>We’re a global pure play e-commerce and technology business in the video games industry fuelled by an unhealthy obsession with bringing the magic of games to everyone.</p>
            <p>Our geeky knowledge, data and IP sit at the core of the business and is what drives us every day to become a technology leader in the video games ecosystem.</p>
            <p>Our mission is to become THE global gaming destination of choice by bringing the magic of games to everyone, everywhere. We’re creating the portal to a million magical worlds. And damn, it’s going to be good.</p>
        </div>
        <div>
            <h1>Contact</h1>
            <ul class="devs-list">
                <li class="dev-bg" style="background-image: url('../../Content/img/coffee-iphone-macbook-air.jpg');">
                    <div class="dev-avatar"><img src="~/Content/img/Romankachmar.jpg" alt=""></div>
                    <div class="dev-info">
                        <ul class="dev-links">
                            <li><a href="/"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="/"><i class="fa fa-telegram"></i></a></li>
                            <li><a href="/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="/"><i class="fa fa-google"></i></a></li>
                            <li><a href="/"><i class="fa fa-at"></i></a></li>
                        </ul>
                        <h2>Roman Kachmar</h2>
                        <span>Full Stack Developer</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>